
/* reset */
html,
body{
    padding: 0;
    margin: 0;
}


/* header */

.wrapper{
    display: grid;    
    grid-template-rows: auto auto auto auto auto auto auto auto 10em 7.8125em;
    grid-column-gap: 2.4%;
    width:100%;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
}
header img{
    padding-top:.5rem;
}
header{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 0;
    grid-row-start: 0;
    font-size:.875rem;
    font-weight: bold;
    color: #575656;
    margin-bottom:0;
    padding-bottom:0;
    margin-left: 3%;
    padding: .5% 2.4%;
    font-family: 'Museo Sans', 'Raleway', sans-serif;

}
header div{
    margin:auto;
    text-transform: uppercase;
    grid-row-start: 1;
}

.about{
    grid-column-start:8;
    grid-column-end: 10;
}
.blog{
    grid-column-start:10;
    grid-column-end:11;
}
.cta{
    color: #61c0bd;
    border: 2px solid #61c0bd;
    border-radius: .25%;
    grid-column-start:11;
    grid-column-end:13;
    padding:.75rem 1.75rem;
}


/* hero */
.hero{
    grid-row-start: 2;
    grid-row-end: 2; 
    background-image:url(../img/hero1.png);
    background-color: #f2f2f2;
    background-position:left;
    background-repeat: no-repeat;
    background-size:cover;
    margin-left:0%;
    color: #ffffff;
    }
.overlay{
    background-color:rgba(91,97,114,.45);
    height:100%;
    width:100%;
}
.hero p, 
h2{
    text-align:center;
    padding-bottom: 0;
    font-size:3.438rem;
    text-transform: uppercase;
    margin:auto;
    width:65%;
    padding-top: 4.5rem;
}

.hero p{
    grid-column-start: 4;
    grid-column-end: 9;
    font-size: 1.063rem;
    width: 55%;
    margin: auto;
    line-height: 1.5em;
    padding-top: 2.313rem;
}
.hero p:nth-child(3){
    font-size: .875rem;
}
.hero p:nth-child(4){
    padding-bottom: 4.5rem;
}
/*Event*/
.event{
    grid-row-start: 3;
    grid-row-end: 3;
    background: #f1f2f5;
    color: #5b6172;
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(12, 1fr);
    padding: .5% 6% .5% 2.4%;
}
.event .nextEvent{
    margin-left: 3%;
    padding: .5% 2.4%;
    width: auto;
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 1;
    font-size: .875rem;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
}
.event .next{
    color: #61c0bd;
    font-size: 1.063rem;
    font-weight:bold;
}
.event .date{
    font-size: 1.063rem;
    font-weight: bold;
}
.button{
    background: #61c0bd;
    color: #ffffff;
    grid-column-start: 12;
    grid-row-start: 1;
    margin: auto;
    padding: .85rem 1.75rem;
    text-transform: uppercase;
    font-size:1.05rem;
}

/* Get Involved */
.involved{
    grid-row-start: 4;
    grid-row-end: 4;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2.4%;
    padding: .5% 6% .5% 2.4%;
}
.involved div{
    text-align: center;
    font-size: 1.171rem;
    margin: 2.4%;
    margin-bottom: 1.875rem;
    color: #5b6172;
    font-family: 'Open Sans', sans-serif;
}
.involved h3{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start:2;
    grid-column-end:2;
    text-align: center;
    margin: 2.34rem auto;
    font-size: 1.625rem;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #575656;
}
.involved h4{
    margin: 2.813rem auto;
    font-size: 1.4219rem;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #575656;
}

.meetup{
    grid-row-start:2;
    grid-column-start: 1;
}
.slack{
    grid-row-start: 2;
    grid-column-start: 2;
}
.googleGroup{
    grid-row-start: 2;
    grid-column-start: 3;
}
.involved .button{
    background: #ffffff;
    color: #61c0bd;
    border: 2px solid #61c0bd;
    padding: .938rem 3.125rem;
    border-radius: .25%;
}

/* Mission */

.mission {
    display: grid;
    grid-row-start:5;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 2.4%;
    grid-template-rows: auto auto auto;
    background: #f1f2f5;
    margin-top: 2.144rem;
    text-align:center;
    padding-bottom: 2.4%;
}
.mission h3{
    font-size: 1.625rem;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #575656;
    grid-column-start: 2;
    grid-column-end:2;
    grid-row-start:1;
    margin-bottom:2%;
    
}

.mission p{
    grid-column-start:1;
    grid-column-end: 3;
    color: #5b6172;
    padding: 1.07rem;
    width:150%;
    grid-row-start: 3;
    
}
.mission p:nth-child(2){
    font-family: 'Open Sans', sans-serif;
    font-size: .875rem;
    grid-row-start:2;
    margin-bottom: 2%;
}
.mission p:nth-child(3){
    font-family: 'Museo Sans','Raleway', sans-serif;
    font-size: 1.063rem;
    font-weight: bold;
    color: #5b6172;
}

/* We Statements */
.weStatements{
    padding: 20% 5.3% 3.125rem 6.7%;
    display: grid;
    grid-row-start:6;
    grid-template-columns: repeat(3 1fr);
    grid-column-gap: 2.4%;
    background: #f1f2f5;
    text-align: center;
    
    }
.weStatements img{
    margin-top:-20%;
    margin-bottom: 2.5%;
}
.weStatements h5{
    font-family: 'Museo Sans','Raleway', sans-serif;
    font-size: 1.063rem;
    color: #5dc0c9;
    margin-top: 0;
}
.weStatements p{
    font-size: .875rem;
    font-family: 'Open Sans', sans-serif;
    color: #575656;
    line-height: 2rem;
}
.weStatements div{
    background: #ffffff;
    margin-top:5%;
    padding: 1.625rem;
}
.charities{
    grid-column-start: 1;
}
.together{
    grid-column-start: 2;
}
.encourage{
    grid-column-start: 3;
}
.line{
    height: 0px;
    background: #f1f2f5;
    border-bottom: 2.5px solid #d9dadd;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 0 5%;
    padding-top: 3.125rem;
    height: 0px;
}

/* Members */

.members{
    display: grid;
    grid-row-start:7;
    grid-template-columns: repeat(3 1fr);
    grid-column-gap: 2.4%;
    background: #f1f2f5;
    text-align: center;
    padding:2.4%;
    
}
.members h3{
    grid-row-start:1;
    grid-column-start:2;
    grid-column-end:2;
    margin:auto;
    text-align:left;
    font-size: 1.625rem;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #575656;
    
}
.logos{
    display: grid;
    grid-template-columns: repeat(5 1fr);
    grid-column-gap: 5%;
    grid-column-start: 1;
    grid-column-end: 4;
}
.logo{
    grid-row-start: 2;
}
.logo img{
    margin:auto;
    vertical-align: middle;
    padding-top: 15%;
}
.groupCounter{
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-start:3;
    padding-bottom: 1.563rem;
}
.counter{
    display: inline-block;
    height:.625rem;
    width:.625rem;
    border-radius:50%;
    background: #979eb1;
}
.active{
    background: #5fc0c3;
}
/* Blog Row */
.blogRow{
    display: grid;
    margin-left:3%;
    grid-row-start:8;
    grid-template-columns: 2.4% repeat(3 1fr) 2.4;
    grid-column-gap: 2.4%;
    text-align: center;
    padding:2.4%;
}
.blogRow h3{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-end:2;
    text-align: center;
    margin: 1.875rem auto;
    font-size: 1.625rem;
    font-family: 'Museo Sans', 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #575656;
}
.blogs{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start:2;
    display: grid;
    grid-template-columns: repeat(4 1fr);
    grid-column-gap: 1.785rem;
}
.blogPreview{
    grid-row-start:1;
    text-align: left;
    font-size: .875rem;
    font-family: 'Open Sans', sans-serif;
    color: #5b6172;
}
.arrow{
    grid-row-start: 2;
}
.1{
    grid-column-start: 1;
    grid-column-end: 1;
   
    
}
.2{
    grid-column-start: 2;
    grid-column-end: 2;
    
}
.3{
    grid-column-start: 3;
    grid-column-end: 3;
    
}
.4{
    grid-column-start: 4;
    grid-column-end: 4;
    
}
.blogPreview h4{
    margin-top: 0;
    font-size: .875rem;
    color: #61c0bd;
    font-family: 'Open Sans', sans-serif;
    border-bottom: 1px solid #f1f2f5;
    padding-bottom:.625rem;
    font-weight:300;
}
.blogPreview .blurb{
    border-bottom: 1px solid #f1f2f5;
    padding-bottom:.625rem;
}
